<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" href="../../public/styles/reset.css" /> -->
    <link rel="stylesheet" href="../../public/styles/style.css" />
    <link rel="stylesheet" href="../../public/styles/content.css" />

    <title>Estilos Básicos</title>
  </head>
  <body>
    <header>
      <nav id="navigation">
        <div class="wrapper">
          <a href="../../index.html" class="logo">
            <p>Kifel <span>Projetos</span></p>
          </a>
        </div>
        <div class="menu">
          <ul>
            <li><a href="../../index.html">Início</a></li>
            <li>
              <a
                href="https://github.com/kifel?tab=repositories"
                target="_blank"
                >Projetos</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <div class="content">
          <h1>--Estilos--</h1>
          <br />
          <div class="tipocss">
            <h1>CSS Interno:</h1>
            <p>
              O CSS interno ou incorporado requer que você adicione a tags style
              na seção head do seu documento HTML
            </p>
            <h1>CSS externo:</h1>
            <p>
              Com o CSS externo, você vai linkar as páginas da internet com um
              arquivo .css externo, que você pode criar usando qualquer editor
              de texto no seu dispositivo. Este tipo de CSS é um método mais
              eficiente, especialmente se você está estilizando um site grande.
              Ao editar um arquivo .css, você pode modificar um site inteiro de
              uma só vez.
            </p>
            <h1>CSS Inline:</h1>
            <p>
              O CSS inline é usado para dar estilo a um elemento HTML
              específico. Para este estilo de CSS você somente vai precisar
              adicionar o atributo style para cada tag HTML, sem usar os
              seletores. Este tipo de CSS não é realmente recomendado, já que
              cada tag HTML precisa ser estilizada de maneira individual.
              Gerenciar o seu site pode se tornar uma tarefa bem difícil de você
              só usa o CSS inline. Contudo, o CSS inline no HTML pode ser útil
              para algumas situações. Por exemplo, sem casos onde você não tem
              acesso aos arquivos CSS ou precisa aplicar estilos para um
              elemento único.
            </p>
          </div>
          <div class="text">
            <h1>estilização de texto:</h1>
            <br />
            <h3>Propriedade: font-family</h3>
            <p>
              font-family é utilizada para definir uma lista de fontes e sua
              prioridade para apresentação de um elemento HTML
            </p>
            <h3>Propriedade: color</h3>
            <p>
              A propriedade color é utilizada para definir a cor de um elemento.
            </p>
            <h3>Propriedade: font-size</h3>
            <p>
              A propriedade font-size é utilizada para definir o tamanho da
              fonte de um elemento.
            </p>
            <h3>Propriedade: font-style</h3>
            <p>
              A propriedade font-style é utilizada para definir um estilo para a
              fonte, que pode ser: normal ou italic.
            </p>
            <h3>Propriedade: font-weight</h3>
            <p>
              A propriedade font-weight é utilizada para definir outro tipo de
              estilo para uma fonte. Podendo os valores serem normal ou bold.
            </p>
            <h3>Propriedade: text-align</h3>
            <p>
              A propriedade text-align é utilizada para definir o alinhamento de
              um elemento. Podendo ele ser alinhado à esquerda (left), à direita
              (right), centralizado (center), ou justificado (justify), que é
              quando o texto contido em uma linha se estende tocando as margens
              esquerda e direita, tal como você vê em jornais e revistas.
            </p>
            <h3>Propriedade: text-indent</h3>
            <p>
              A propriedade text-indent é utilizada para definir um recuo na
              primeira linha de um parágrafo.
            </p>
          </div>
          <div class="boxmodel">
            <h1>box model:</h1>
            <br />
            <img
              src="https://www.alura.com.br/artigos/assets/entendendo-como-funciona-box-model-e-o-box-sizing/box-model-no-devtools.png"
              alt="Box model"
            />
            <p>
              Em uma página WEB, cada elemento é representado como um box
              retangular. Determinar o tamanho, propriedades - como sua cor,
              fundo, estilo das bordas - e a posição desses boxes é o objetivo
              do mecanismo de renderização. No CSS, cada um desses boxes
              retangulares é descrita usando o box model padrão. Este modelo
              descreve o conteúdo do espaço ocupado por um elemento. Cada box
              possui 4 edges: margin edge, border edge, padding edge e content
              edge.
            </p>
            <p>
              Se a propriedade CSS box-sizing está configurada como padrão, as
              propriedades CSS width, min-width (en-US), max-width, height,
              min-height e max-height (en-US) controlam o tamanho do conteúdo.
            </p>
            <p>
              A área de preenchimento (padding area) estende-se para a borda em
              torno do enchimento. Quando a área de conteúdo tem um fundo, cor
              ou imagem, isso será estendido para a área de preenchimento, por
              esse motivo, você pode pensar o preenchimento como a extensão do
              conteúdo. O preenchimento está localizado dentro do padding edge,
              e suas dimensões são a largura do padding-box e a altura do
              padding-box.
            </p>
          </div>
        </div>
      </section>
    </main>
    <a id="backToTopButton" href="#navigation">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="20" cy="20" r="20" fill="#000FFF" />
        <path
          d="M20 27V13"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13 20L20 13L27 20"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </body>
</html>
