<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../public/styles/reset.css" />
    <link rel="stylesheet" href="../../public/styles/style.css">

    <title>Estrutura Básica Html</title>
  </head>
  <body>
    <header>
      <nav id="navigation">
        <div class="wrapper">
          <a href="../../index.html" class="logo">
            <p>Kifel <span>Projetos</span></p>
          </a>
        </div>
        <div class="menu">
          <ul>
            <li><a href="../../index.html">Início</a></li>
            <li>
              <a href="https://github.com/kifel?tab=repositories">Projetos</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
