<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" href="../../public/styles/reset.css" /> -->
    <link rel="stylesheet" href="../../public/styles/style.css" />
    <link rel="stylesheet" href="../../public/styles/content.css" />

    <title>Html Semântico</title>
  </head>
  <body>
    <header>
      <nav id="navigation">
        <div class="wrapper">
          <a href="../../index.html" class="logo">
            <p>Kifel <span>Projetos</span></p>
          </a>
        </div>
        <div class="menu">
          <ul>
            <li><a href="../../index.html">Início</a></li>
            <li>
              <a href="https://github.com/kifel?tab=repositories" target="_blank">Projetos</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <div class="content">
          <h1>header (cabeçalho):</h1>
          <p>
            O elemento HTML header representa um grupo de suporte introdutório
            ou navegacional. Pode conter alguns elementos de cabeçalho mas
            também outros elementos como um logo, seções de cabeçalho,
            formulário de pesquisa, e outros.
          </p>
          <h1>nav:</h1>
          <p>
            O Elemento HTML de Navegação nav representa uma seção de uma página
            que aponta para outras páginas ou para outras áreas da página, ou
            seja, uma seção com links de navegação.
          </p>
          <h1>main:</h1>
          <p>
            O elemento main define o conteúdo principal dentro do body em seu
            documento ou aplicação. Entende-se como conteúdo principal aquele
            relacionado diretamente com o tópico central da página ou com a
            funcionalidade central da aplicação. O mesmo deverá ser único na
            página, ou seja, dentro do elemento main não deverão ser incluídas
            seções da página que sejam comuns a todo o site ou aplicação, tais
            como mecanismos de navegação, informações de copyright, logotipo e
            campos de busca (a não ser, é claro, caso a função principal do
            documento seja fazer algum tipo de busca).
          </p>
          <h1>aside:</h1>
          <p>
            O elemento HTML aside representa uma seção de uma página que
            consiste de conteúdo que é tangencialmente relacionado ao conteúdo
            do seu entorno, que poderia ser considerado separado do conteúdo.
            Essas seções são, muitas vezes, representadas como barras laterais.
            Elas muitas vezes contem explicações laterais, como a definição de
            um glossário; conteúdo vagamente relacionado, como avisos; a
            biografia do autor; ou, em aplicações web, informações de perfil ou
            links de blogs relacionados.
          </p>
          <h1>article:</h1>
          <p>
            The article HTML element represents a self-contained composition in
            a document, page, application, or site, which is intended to be
            independently distributable or reusable (e.g., in syndication).
            Examples include: a forum post, a magazine or newspaper article, or
            a blog entry, a product card, a user-submitted comment, an
            interactive widget or gadget, or any other independent item of
            content.
          </p>
          <h1>footer:</h1>
          <p>
            O elemento HTML de Rodapé (footer) representa um rodapé para o seu
            sectioning content (conteúdo de seção) mais próximo ou sectioning
            root elemento (ou seja, seu parente mais próximo article, aside,
            nav, section, blockquote, body, details, fieldset, figure, td
            (en-US)). Normalmente um rodapé contém informações sobre o autor da
            seção de dados, direitos autorais ou links para documentos
            relacionados.
          </p>
          <h1>Imagem demonstrativa</h1>
          <br><br>
          <img src="https://miro.medium.com/max/720/1*NjJoYvshr5Jyj4HMu0aXnA.jpeg" alt="Imagem demonstrativa sobre html semântico">
        </div>
      </section>
    </main>

    <a id="backToTopButton" href="#navigation">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="20" cy="20" r="20" fill="#000FFF" />
        <path
          d="M20 27V13"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13 20L20 13L27 20"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </body>
</html>
